{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<h3 class="text-center text-lg-start ps-3">Delete Comments</h3>
<div class="container-fluid">
    <div class="row col-12 col-md-10 mt-3 offset-md-2 ms-2">
        <ul> 
            <!-- Iterate over comments -->
            
            {% for comment in object_list %} 
            <!-- Display comments list -->
            <li class="pt-2"><a href="{% url 'delete-comment-list' comment.pk %}">Comment: {{ comment.body }}</a></li> 
            <!-- if all comments deleted-->
            {% empty %} 
            <li>No comments avaliable.</li>
            {% endfor %}
        </ul>
        <a class="btn btn-primary pb-2" href="{% url 'game' %}">Back</a> 

    </div>
</div>


{% endblock %}