{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<!--Approve Guide Element-->
<h3 class="text-center text-lg-start ps-3">Approve Guide</h3>
<div class="container-fluid">
    <div class="row">
        <div class="form-group">
            <form id="approveGuideForm" method="post" class="creation-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button id="submitButton" type="submit" class="btn btn-success btn-lg">Submit</button>
            </form>
        </div>

    </div>
</div>


{% endblock %}