{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!--Guide Detail Element-->
<div class="d-flex flex-column align-items-center guide-info p-3">
    <a href="" class="text-center pt-3">{{guide.title}}</a>
    <div class="col-12 col-md-8 border guide-detail">
        <p class="text-break p-3">{{guide.body}}</p>
        <!--If the user is the guide author they can edit or delete there own-->
        {% if user.is_authenticated and guide.author == user %}
        <div class="guide-buttons d-flex align-items-center justify-content-between flex-column">
            <a class="btn btn-success" href="{% url 'edit-guide' guide.pk %}">Edit guide</a>
            <a class="btn btn-danger" href="{% url 'delete-guide' guide.pk %}">Delete Guide</a>
        </div>
        {% endif %}
        <div class="guide-author col-12 col-md-8 d-flex flex-column align-items-center align-items-md-start p-3">
            <a href="#">Guide Written by {{guide.author}}</a>
            <p>Added {{guide.created_on}}</p>
        </div>
        <div class="rate-buttons">
            <form action="{% url 'like-guide' guide.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="guide_id" value="{{ guide.id }}" class="btn btn-primary ms-2">Like</button>
                {{ total_likes }} - Likes
            </form>
            <form action="{% url 'dislike-guide' guide.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="guide_id" value="{{ guide.id }}" class="btn btn-danger ms-2">Dislike</button>
                {{ total_dislikes }} - Dislikes
            </form>
        </div>
    </div>
</div>
<!--Comment Element-->
<div class="d-flex flex-column align-items-center p-3">
    <h3 class="pt-2">Comments</h3>
    <div class="col-12 col-md-8 border comment-section">
        {% for comment in guide.comments.all %}
        <div class="border mb-3 comment-info">
            <p class="ms-1">{{comment.body}}</p>
            <p class="ms-1">Comment by: {{comment.author}}</p>
            <!--Checking to see if the user is logged in and the author they can then edit and delete there comments-->
            {% if user.is_authenticated and comment.author == user %}
            <div class="guide-buttons d-flex align-items-center justify-content-between flex-column">
                <a class="btn btn-success" href="{% url 'edit-comment' comment.pk %}">Edit Comment</a>
            </div>
            {% endif %}
            {% if user.is_authenticated and comment.author == user or user.is_superuser %}
            <div class="d-flex align-items-center justify-content-between flex-column">
                <a class="btn btn-danger" href="{% url 'delete-comment' comment.pk %}">Delete Comment</a>
            </div>
            {% endif %}
        </div>

        {% endfor %}
        <div class="pt-2">
            <a class="btn btn-success ms-1" href="{% url 'add-comment' guide.pk %}">Add Comment</a>
        </div>
        

    </div>
        {% if user.is_superuser %}
        <div class="col-12 pt-3 d-flex flex-column align-items-center">
            <a class="btn btn-danger" href="{% url 'comments-list' %}">Delete Comments</a>
        </div>
        {% endif %}
</div>
{% endblock %}