{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!--Guides not approved element -->
<h3 class="text-center text-lg-start ps-3">Approve Guides</h3>
<div class="container-fluid">
    <div class="row col-12 col-md-10 mt-3 offset-md-2 ms-2">
        <ul> 
            <!-- Iterate over guides not approved -->
            
            {% for guide in object_list %} 
            <!-- Display guides awaiting approval -->
            <li class="pb-2"><a href="{% url 'approve-guide' guide.pk %}">Title: {{ guide.title }}</a></li> 
            <!-- if all guides approved-->
            {% empty %} 
            <li class="pb-2">No Guides to approve.</li>
            {% endfor %}
        </ul>
        <a class="btn btn-primary pb-2" href="{% url 'game' %}">Back</a> 

    </div>
</div>


{% endblock %}