{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="d-flex flex-column align-items-center guide-info">
    <a href="" class="text-center pt-3">{{guide.title}}</a>
    <div class="col-12 col-md-8 border">
        <p class="text-break p-3">{{guide.body}}</p>
        <!--If the user is the guide author they can edit or delete there own-->
        {% if user.is_authenticated and guide.author == user %}
        <div class="guide-buttons d-flex align-items-center justify-content-between flex-column">
            <a class="btn btn-success" href="{% url 'edit-guide' guide.pk %}">Edit guide</a>
            <a class="btn btn-danger" href="{% url 'delete-guide' guide.pk %}">Delete Guide</a>
        </div>
        {% endif %}
        <div class="guide-author col-12 col-md-8 d-flex flex-column align-items-center align-items-md-start ps-1">
            <a href="#">Guide Written by {{guide.author}}</a>
            <p>Added {{guide.created_on}}</p>
        </div>
        <div class="rate-buttons ps-2">
            <form action="{% url 'like-guide' guide.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="guide_id" value="{{ guide.id }}" class="btn btn-primary">Like</button>
                {{ total_likes }} - Likes
            </form>
            <form action="{% url 'dislike-guide' guide.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="guide_id" value="{{ guide.id }}" class="btn btn-danger">Dislike</button>
                {{ total_dislikes }} - Dislikes
            </form>
        </div>
    </div>
</div>

<div class="d-flex flex-column align-items-center">
    <h3 class="pt-2">Comments</h3>
    <div class="col-12 col-md-8 border">
        {% if not guide.comments.all %}
        <p>No comment yet <a class="btn btn-success" href="{% url 'add-comment' guide.pk %}">Add</a> </p>
        {% else %}
        {% for comment in guide.comments.all %}
        <div class="border">
            <p>{{comment.body}}</p>
            {% if user.is_authenticated and comment.author == user %}
            <div class="guide-buttons d-flex align-items-center justify-content-between flex-column">
                <a class="btn btn-success" href="{% url 'edit-comment' comment.pk %}">Edit Comment</a>
                <a class="btn btn-danger" href="{% url 'delete-comment' comment.pk %}">Delete Comment</a>
            </div>
            {% endif %}
        </div>

        {% endfor %}
        <a class="btn btn-success ms-1" href="{% url 'add-comment' guide.pk %}">Add Comment</a>
        {% endif %}

    </div>
</div>
{% endblock %}