{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="text-center alert alert-{{ message.tags }}">
    {{ message|safe }}
</div>
{% endfor %}
{% endif %}

<div class="container-fluid">
    <div class="row">
        {% if not trophies.guides.all and not user.is_authenticated %}
        <div class="col-12 pt-3 d-flex flex-column align-items-center">
            <p class="text-center">
                Do you want to help out other fellow trophy hunters like yourself? Then simply login or create an
                account with us to join our ever growing community!
            </p>
            <a class="btn btn-primary" href="{% url 'account_login' %}">Login</a>
            <a class="btn btn-primary" href="{% url 'account_signup' %}">Register</a>
            {% elif not trophies.guides.all and user.is_authenticated %}
            <p class="text-center">
                Do you want to help out other fellow trophy hunters like yourself? Then simply click create guide and
                take your next step
                in joining our ever growing community
            </p>
            <div class="col-12 pt-3 d-flex flex-column align-items-center">
                <a class="btn btn-success" href="{% url 'create-guide' trophies.pk %}">Create</a>
            </div>

        </div>
        {% endif %}
        {% if trophies.guides.all %}
        {% for guide in game_guide %}
        <div class="d-flex flex-column align-items-center guide-info">
            <h3 class="text-center pt-3">{{guide.trophy}}</h3>
            <div class="col-12 col-md-8 border">
                <p class="text-break p-3">{{guide.body}}</p>
                <a href="#" class="pb-2 d-flex justify-content-center">{{guide.author}}</a>
                {% if user.is_authenticated and guide.author == user %}
                <div class="guide-buttons d-flex align-items-center justify-content-between flex-column">
                    <a class="btn btn-success" href="{% url 'edit-guide' guide.pk %}">Edit guide</a>
                    <a class="btn btn-danger" href="{% url 'delete-guide' guide.pk %}">Delete Guide</a>
                </div>
                {% endif %}
                <hr>
                <div class="rate-buttons ps-2">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-danger">Dislike</button>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if trophies.guides.all and user.is_authenticated %}
        <div class="col-12 pt-3 d-flex flex-column align-items-center">
            <p class="text-center">
                Do you want to help out other fellow trophy hunters like yourself? Then simply click create guide and
                take your next step
                in joining our ever growing community.
            </p>
            <a class="btn btn-success" href="{% url 'create-guide' trophies.pk %}">Create guide</a>
            {% endif %}

            {% if trophies.guides.all and not user.is_authenticated %}
            <div class="col-12 pt-3 d-flex flex-column align-items-center">
                <p class="text-center">
                    To create your own excellent guides like the ones above just simply login in below to help out other
                    trophy hunters!
                </p>
                <a class="btn btn-success" href="{% url 'account_login' %}">Login</a>
                {% endif %}




            </div>
        </div>



        <div>

        </div>

        {% endblock %}