@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&display=swap');
/* Generic styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding-bottom: 70px;
    font-family: "Raleway", sans-serif;
}

main {
    flex-grow: 1;
    background-color: #F8F8FF
}

h1,
h2,
h3 {
    font-size: 16px;
    font-family: "Arimo", sans-serif
}

a {
    text-decoration: none;
    color: black;
}

/* Heading styles */

.heading-text {
    height: 71vh;
    text-align: center;
}

.heading-paragraph {
    padding: 15px;
}

.btn {
    margin-bottom: 10px;
    width: fit-content;
}

/* Random game image styling */

.base-image {
    height: 200px;
    width: 350px;
}

/* Genre form styling */

.genre-form {
    padding-top: 8px;
}

.genre-form label {
    padding-left: 8px;
    padding-top: 3px;
}

.form-btn {
    margin-left: 8px;
    height: 40px;
}

.genre-table {
    background-color: #DCDCDC;
}

/* Select input drop down styling */

select {
    width: 200px;
    height: 20px;
}

/* input styling for form elements */

input {
    width: 200px;
    height: 20px;
}

input[type="checkbox"] {
    width: 10px;
}

/* Image styling */

img {
    float: left;
    margin-left: 2px;
}

/* Game detail styling */
.game-image {
    height: 200px;
    width: 500px;
}

.game-section {
    background-color: #ffffff;
}

.game-heading {
    padding-left: 4px;
}

.game-info {
    text-align: center;
}

.game-info i {
    padding: 5px;
}

.game-summary {
    text-align: center;
    padding: 20px;
}

/* Trophy section styling */

.trophy-heading {
    padding-left: 4px;

}

.trophy-name {
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

.trophy-description {
    margin-left: 2px;
    font-size: 12px;

}

.trophy-title {
    font-family: "Sedan", "sans-serif";
}

.trophy-description i {
    padding: 5px;
    margin-left: 10px;

}

.trophy-description-detail {
    padding: 2em;
}

.trophy-rarity {
    margin-left: 10px;
}

.trophy-images-section {
    display: flex;
    background-color: #DCDCDC;
}

.trophy-image {
    width: fit-content;
    height: fit-content;
}

.trophy-info {
    background-color: #DCDCDC;
}

/* Create and edit form styling */

.creation-form input {
    height: 35px;
}

.creation-form select {
    height: 35px;
}

/* Guide element styling */

.guide-list {
    background-color: #ffffff;
}

.guide-detail {
    background-color: #ffffff;
}

/* Comment element styling */

.comment-section {
    background-color: #ffffff;
}

.comment-info {
    background-color: #fffaf0;
}

/* Social media icons styling */

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-right: 35px;
}

.social-icons>li {
    font-size: 1.5em;
    padding-left: 0;
    padding-right: 20px;
}

/* Media Query for smaller devices */

@media screen and (min-width:500px) {
    .game-image {
        height: fit-content;
        width: fit-content;
    }

}

/* Media Query tablet devices */

@media screen and (min-width: 768px) {
    .base-image {
        height: 250px;
        width: 450px;
    }

    .game-image {
        height: 150px;
        width: 700px;
    }
}

@media screen and (min-width: 800px) {
    .heading-text {
        height: 80.5vh;
    }
}

/* Media Query for laptop devices */

@media screen and (min-width: 1024px) {

    .heading-text {
        height: 85vh;
    }

    .game-image {
        width: 700px;
        height: 250px;

    }
    
    .trophy-description {
        font-size: 16px;
    }

    .trophy-description-detail {
        padding: 2px
    }

}

/* Media Query for larger desktop devices */

@media screen and (min-width: 1200px) {
    .heading-text {
        height: 79vh;
    }


}