@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&display=swap');
/* Generic styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding-bottom: 70px;
    font-family: "Raleway", sans-serif;
  }
  

main {
    flex-grow: 1;
    background-color: #F8F8FF
}


h1,h2,h3 {
    font-size: 16px;
    font-family: "Arimo", sans-serif
}

a {
    text-decoration: none;
    color: black;
}

.heading-text {
    height: 73vh;
    text-align: center;
}

.heading-paragraph {
    padding: 15px; 
}

.btn {
    margin-bottom: 10px;
    width: fit-content;
}

.genre-form {
    padding-top: 8px;
}

.genre-form label {
    padding-left: 8px;
    padding-top: 3px;
}

.form-btn {
    margin-left: 8px;
}

.genre-table {
    background-color: #DCDCDC;
}

img{
    float:left;
    margin-left: 2px;
}

.game-section {
    background-color: #ffffff;
}

.game-heading {
    padding-left: 4px;
}

.game-info {
    text-align: center;
}

.game-info i {
    padding: 5px;
}

.game-summary {
    text-align: center;
    padding: 20px;
}


.trophy-heading {
    padding-left: 4px;

}


.trophy-name {
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}


.trophy-description {
    margin-left: 2px;
    font-size: 12px;

}

.trophy-title {
    font-family: "Sedan", "sans-serif";
}

.trophy-description i {
    padding: 5px;
    margin-left: 10px;
    
}

.trophy-rarity {
    margin-left: 10px;
}

.trophy-images {
    display: flex;
    background-color: #DCDCDC;
}

.trophy-info {
    background-color: #DCDCDC;
}

.guide-list {
    background-color: #ffffff;
}

.guide-detail {
    background-color: #ffffff;
}

.comment-section {
    background-color: #ffffff;
}

.comment-info {
    background-color: #fffaf0;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-right: 35px;
}


.social-icons>li {
    font-size: 1.5em;
    padding-left: 0;
    padding-right: 20px;
}


/* Media Query larger desktop */

@media screen and (min-width: 1080px) {

    .trophy-description {
        font-size: 16px;
    }
    
}

    