{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="game-heading">
      <h1>{{game.title}}</h1>
    </div>
    <div class="game-img">
      {% if "placeholder" in game.featured_image.url %}
      <img class="img-thumbnail" src="{% static 'static/images/elden-ring-cover.jpg' %}" alt="placeholder image">
      {% else %}
      <img class="img-thumbnail" alt="Responsive image" src=" {{ game.featured_image.url }}" alt="{{ game.title }}">
      {% endif %}

    </div>
  </div>
</div>

<div class="row">
  <div>
    <div class="trophy-section">
      <h3 class="trophy-heading">Trophies</h3>
      {% for trophy in trophies %}
      <div class="trophy-name">
        <p>{{trophy.title}}</p>
      </div>
      <div class="col-md-4">
        {% if "placeholder" in trophy.featured_image.url %}
        <img class="image-size" width="20%" src="{% static 'static/images/elden-ring-cover.jpg' %}"
          alt="placeholder image">
        {% else %}
        <img class="img-thumbnail" width="20%" alt="Responsive image" src=" {{ trophy.featured_image.url }}"
          alt="{{ trophy.title }}">
      </div>
      <p class="trophy-description">{{trophy.description}}</p>
    </div>
  </div>
</div>
</div>
{% endif %}
{% endfor %}

{% endblock %}